<form method="post" style="margin-top: 2cm">{% csrf_token %}
    <table id="companyForm" style="margin-left: auto; margin-right: auto">
        <col style="width:5cm">
        <col style="width:4cm">
        <col style="width:7cm">
        <col style="width:5cm">
        <col style="width:5cm">

        <div style="text-align: center">
            <formTitle>COMPANY UPDATE FORM</formTitle>
        </div>

        <thead>
            <tr>
                <th class="rowTitle">ID</th>
                <th class="rowTitle">COMPANY</th>
                <th class="rowTitle">EMAIL</th>
                <th class="rowTitle">PASSWORD</th>
                <th class="rowTitle">ACTION</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td style="text-align: center">{{ companyForm.cpnID }}</td>
                <td style="text-align: center">{{ companyForm.cpnName }}</td>
                <td style="text-align: center">{{ companyForm.cpnEmail }}</td>
                <td style="text-align: center">{{ companyForm.cpnPassword }}</td>
{#                <td style="text-align: center">{{ companyForm.companyID }}</td>#}
{#                <td style="text-align: center">{{ companyForm.companyName }}</td>#}
{#                <td style="text-align: center">{{ companyForm.companyEmail }}</td>#}
{#                <td style="text-align: center">{{ companyForm.CPNpassword }}</td>#}
                <td style="text-align: center">
                    <button type="submit" id="saveCompany" name="saveCompany" onclick="saveCpn()" class="buttonAccept">Save/Update</button>
                    <button type="submit" id="deleteCompany" name="deleteCompany" onclick="deleteCpn()" class="buttonDelete">Delete</button>
                </td>
            </tr>
            <tr style="height: 2cm">
                <td class="rowTitle">VESSELS:</td>
                <td colspan="4" style="text-align: center">{{ companyForm.cpnVesselList }}</td>
            </tr>

            <tr>
                <td colspan="5">{{ companyForm.non_field_errors }}</td>
            </tr>
        </tbody>
    </table>

</form>