<div class="d-flex justify-content-center">
    <div style="text-align: center; border-radius: 10px; box-shadow: 0px 4px 20px rgba(5,57,94,1); -moz-box-shadow: 0px 4px 20px rgba(5,57,94,1);-webkit-box-shadow: 0px 4px 20px rgba(5,57,94,1); width: 450px; padding-top: 20px; padding-bottom: 20px">

        <div class="mb-3" style="text-align: center; padding: 5px 5px; font-weight: bolder; font-size: 20px;  ">
            <h1>Tracking Shipment</h1>
        </div>
        <form method="post">{% csrf_token %}
            <table style="margin-left: auto; margin-right: auto">
                <col style="width:3cm">
                <col style="width:6cm">

                {% for field in customerLogin %}
                    <tr>
                        <td class="columnTitle">{{ field.label_tag }}</td>
                        <td style="text-align: center">{{ field }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="2" style="text-align: right">
                        <button class="buttonAccept" type="submit" name="customerloginform">Login</button>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">{{ customerLogin.non_field_errors }}</td>
                </tr>

            </table>

        </form>

    </div>
</div>

{#<form method="post">{% csrf_token %}#}
{#    <table style="margin-left: auto; margin-right: auto">#}
{#        <col style="width:3cm">#}
{#        <col style="width:6cm">#}
{##}
{#        <div style="text-align: center; margin-top: 1cm">#}
{#            <h1>CUSTOMER LOGIN</h1>#}
{#        </div>#}
{##}
{#        {% for field in customerLogin %}#}
{#            <tr>#}
{#                <td class="columnTitle">{{ field.label_tag }}</td>#}
{#                <td style="text-align: center">{{ field }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{##}
{#        <tr>#}
{#            <td colspan="2" style="text-align: right">#}
{#                <button class="buttonAccept" type="submit" name="customerloginform">Login</button>#}
{#            </td>#}
{#        </tr>#}
{##}
{#        <tr>#}
{#            <td colspan="2">{{ customerLogin.non_field_errors }}</td>#}
{#        </tr>#}
{##}
{#    </table>#}
{##}
{#</form>#}