{% load static %}

<footer class="page-footer font-small blue pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left" style="background-color: #0086b3">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-5 mt-md-0 mb-3">
                <!-- Content -->
                <img src={% static "images/footerImage.png" %}>

                <h5 class="text-uppercase d-flex justify-content-start mb-1" style="color: white">SmartIndo</h5>
                <p class="d-flex justify-content-start mb-1" style="color: white">Sharing Economy Solution</p>
            </div>
            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">
                <!-- Content -->
                <h5 class="text-uppercase d-flex justify-content-start mb-1" style="color: white">SmartIndo - Headquarters</h5>

                <ul class="list-unstyled">
                    <p class="d-flex justify-content-start mb-1" style="color: white">Komplex Perkantoran Agung Sedayu</p>
                    <p class="d-flex justify-content-start mb-1" style="color: white">Harco Mangga Dua Blok H No.37 Jakarta</p>
                    <p class="d-flex justify-content-start mb-1" style="color: white">Pusat - 10730, INDONESIA</p>
                    <p></p>
                    <p class="d-flex justify-content-start mb-1" style="color: white">+62 21 6220 0777</p>
                    <p class="d-flex justify-content-start mb-1" style="color: white">helpdesk@smartindo.com</p>
                    <!-- Links -->
                    <li>
                        <a class="d-flex justify-content-start mb-1" style="color: red"
                        href="http://smartindo.com/">www.smartindo.com</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <!-- Content -->
                <h5 class="text-uppercase d-flex justify-content-start mb-1" style="color: white">Smartindo - Branch</h5>

                <ul class="list-unstyled">
                    <p class="d-flex justify-content-start mb-1" style="color: white">Smartindo Integrasi System Korea</p>
                    <p class="d-flex justify-content-start mb-1" style="color: white">부산광시 강서구 신 호산단 5로</p>
                    <p class="d-flex justify-content-start mb-1" style="color: white">+82 10 7414 1918</p>
                    <p class="d-flex justify-content-start mb-1" style="color: white">jugon.kim@smartindo.com</p>
                </ul>
            </div>

            <!-- Copyright -->
            <div class="footer-copyright text-start" style="color: white">© gonCompany. All right reserved.
                <p>Design by Develop Team</p>
            </div>
            <!-- Copyright -->
        </div>
        <!-- Grid row -->
    </div>

</footer>