{% load static %}

<footer class="page-footer font-small blue pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left" style="background-color: #3399ff">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-5 mt-md-0 mb-3">
                <!-- Content -->
                <img src={% static "images/logo-mobile.png" %}>

                <h5 class="text-uppercase d-flex justify-content-start mb-1" style="color: white">SL SEA AND AIR co., LTD.</h5>
                <p class="d-flex justify-content-start mb-1" style="color: white">(주) 애스엘해운항공</p>
            </div>
            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">
                <!-- Content -->
                <h5 class="text-uppercase d-flex justify-content-start mb-1" style="color: white">ADDRESS</h5>

                <ul class="list-unstyled">
                    <p class="d-flex justify-content-start mb-1" style="color: white">ZIP CODE 49007</p>
                    <p class="d-flex justify-content-start mb-1" style="color: white">24,HAEYANG-RO 57 BEO-GIL</p>
                    <p class="d-flex justify-content-start mb-1" style="color: white">YEONGDO-GU</p>
                    <p class="d-flex justify-content-start mb-1" style="color: white">BUSAN</p>
                    <p class="d-flex justify-content-start mb-1" style="color: white">KOREA</p>
                </ul>
            </div>
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <!-- Content -->
                <h5 class="text-uppercase d-flex justify-content-start mb-1" style="color: white">CONTACTS</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="d-flex justify-content-start mb-1" style="color: #FB9902"
                        href="http://www.slsa.co.kr/">Website: www.slsa.co.kr</a>
                    </li>
                    <p class="d-flex justify-content-start mb-1" style="color: white">Telephone: +82-51-463-4747</p>
                    <p class="d-flex justify-content-start mb-1" style="color: white">Fax: +82-51-463-4884</p>
                    <p class="d-flex justify-content-start mb-1" style="color: white">Emai: sl@slsa.co.kr</p>
                </ul>
            </div>

            <!-- Copyright -->
            <div class="footer-copyright text-start" style="color: white">All right reserved.
                <p>Design by Develop Team</p>
            </div>
            <!-- Copyright -->
        </div>
        <!-- Grid row -->
    </div>

</footer>