<form method="post">{% csrf_token %}
    <table id="operatorForm" style="margin-left: 15%; margin-right: 15%">
{#        <col style="width: 5cm">#}
{#        <col style="width: 5cm">#}
{#        <col style="width: 5cm">#}
{#        <col style="width: 5cm">#}
        <col style="width: 10%">
        <col style="width: 10%">
        <col style="width: 10%">
        <col style="width: 10%">

        <div style="text-align: center">
            <formTitle>OPERATOR UPDATE FORM</formTitle>
        </div>

        <thead>
            <tr>
                <th class="rowTitle">ID</th>
                <th class="rowTitle">PASSWORD</th>
                <th class="rowTitle">PERMISSION</th>
                <th class="rowTitle">ACTION</th>
            </tr>
        </thead>

        <tbody>
            <tr style="height: 1.2cm">
                <td style="text-align: center">{{ operatorForm.oprID }}</td>
                <td style="text-align: center">{{ operatorForm.oprPassword }}</td>
                <td style="text-align: center">{{ operatorForm.oprPermission }}</td>
{#                <td style="text-align: center">{{ operatorForm.operatorID }}</td>#}
{#                <td style="text-align: center">{{ operatorForm.OPRpassword }}</td>#}
{#                <td style="text-align: center" id="oprPermission">{{ operatorForm.permission }}</td>#}
                <td style="text-align: center">
                    <button type="submit" id="saveOperator" name="saveOperator" onclick="saveOpr()" class="buttonAccept">Save/Update</button>
                    <button type="submit" id="deleteOperator" name="deleteOperator" onclick="deleteOpr()" class="buttonDelete">Delete</button>
                </td>
            </tr>

            <tr>
                <td colspan="4">{{ operatorForm.non_field_errors }}</td>
            </tr>
        </tbody>
    </table>

</form>