<form method="post">{% csrf_token %}
    <table style="margin-left: auto; margin-right: auto">
        <col style="width:3cm">
        <col style="width:6cm">

        <div style="text-align: center">
            <h1>STAFF LOGIN</h1>
        </div>

{#        <tr>#}
{#            <td class="columnTitle">Staff ID</td>#}
{#            <td style="text-align: center">{{ staffLogin.userIDopr }}</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td class="columnTitle">Password</td>#}
{#            <td style="text-align: center">{{ staffLogin.passwordopr }}</td>#}
{#        </tr>#}
        {% for field in staffLogin %}
            <tr>
                <td class="columnTitle">{{ field.label_tag }}</td>
                <td style="text-align: center">{{ field }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="2" style="text-align: right">
                <button class="buttonAccept" type="submit" name="staffloginform">Login</button>
            </td>
        </tr>

        <tr>
            <td colspan="2">{{ staffLogin.non_field_errors }}</td>
        </tr>

    </table>

</form>