<table id="supplierList" style="margin-left: 15%; margin-right: 15%" class="rowHoverStyle">
{#    <col style="width:7cm">#}
{#    <col style="width:7cm">#}
{#    <col style="width:7cm">#}
    {# Total: 40%; margin: 15% each side#}
    <col style="width:12%">
    <col style="width:16%">
    <col style="width:12%">
    <div style="text-align: center; margin-top: 1cm">
        <formTitle>SUPPLIER LIST</formTitle>
    </div>

    <thead>
        <tr>
            <th class="rowTitle">ID</th>
            <th class="rowTitle">SUPPLIER</th>
            <th class="rowTitle">PASSWORD</th>
        </tr>
    </thead>

    <tbody id="splBody"></tbody>
{#    <tbody>#}
{#        {% for info in supplierList %}#}
{#        <tr>#}
{#            <td class="rowInfo">{{ info.supplierID }}</td>#}
{#            <td class="rowInfo">{{ info.supplierName }}</td>#}
{#            <td class="rowInfo">{{ info.SPLpassword }}</td>#}
{#        </tr>#}
{#        {% endfor %}#}
{#    </tbody>#}

</table>

<script>
    const supplierForm = document.getElementById('supplierForm');
    const supplierList = document.getElementById('supplierList');
    const supplierCells = supplierList.getElementsByTagName('td');

    const supplierBody = document.getElementById('splBody');
    const searchingRowsSpl = supplierList.getElementsByTagName('tr');
    const dataRowSpl = supplierForm.getElementsByTagName('tr')[1];

    let infoSpl1 = document.getElementById('{{ supplierForm.userID.auto_id }}');
    let infoSpl2 = document.getElementById('{{ supplierForm.companyName.auto_id }}');
    let infoSpl3 = document.getElementById('{{ supplierForm.password.auto_id }}');
    {#let infoSpl1 = document.getElementById('{{ supplierForm.supplierID.auto_id }}');#}
    {#let infoSpl2 = document.getElementById('{{ supplierForm.supplierName.auto_id }}');#}
    {#let infoSpl3 = document.getElementById('{{ supplierForm.SPLpassword.auto_id }}');#}
    var splUpdateID = "";
    var splDeleteID = "";
    splDisplayList();

    function splDisplayList() {
        let supplierContent="";
        {#var splList = {{ userList | safe }};#}
        var splList = {{ supplierList | safe }};
        var splNumber = splList.length;
        for(let i = 0;i < splNumber; i++) {
            supplierContent += '<tr>';
            supplierContent += '<td class="rowInfo cellBorder" style="font-weight: bold; width: 7cm">' + splList[i]["fields"]["userID"] + '</td>';
            supplierContent += '<td class="rowInfo cellBorder" style="font-weight: bold; width: 7cm">' + splList[i]["fields"]["companyName"] + '</td>';
            supplierContent += '<td class="rowInfo cellBorder" style="font-weight: bold; width: 7cm">' + splList[i]["fields"]["rawPassword"] + '</td>';
            {#supplierContent += '<td class="rowInfo" style="width: 7cm; font-weight: bold">' + splList[i]["fields"]["supplierID"] + '</td>';#}
            {#supplierContent += '<td class="rowInfo" style="width: 7cm; font-weight: bold">' + splList[i]["fields"]["supplierName"] + '</td>';#}
            {#supplierContent += '<td class="rowInfo" style="width: 7cm; font-weight: bold">' + splList[i]["fields"]["SPLpassword"] + '</td>';#}
            supplierContent += '</tr>';
        }
        supplierBody.innerHTML = supplierContent;
    }
    for (let i = 0; i < supplierCells.length; i++) {
        // Make function onclick for any cells
        let cell = supplierCells[i];
        cell.onclick = function () {
            // Get the row id where the cell exists
            let rowId = this.parentNode.rowIndex;
            let rowSelected = supplierList.getElementsByTagName('tr')[rowId];
            // Get data from the row as HTML style
            var spl1 = rowSelected.cells[0].innerHTML;
            var spl2 = rowSelected.cells[1].innerHTML;
            var spl3 = rowSelected.cells[2].innerHTML;
            // Auto-fill the form with the cleaned data
            infoSpl1.value = spl1;
            infoSpl2.value = spl2;
            infoSpl3.value = spl3;
            splUpdateID = spl1;
            splDeleteID = spl1;
        }
    }

    function saveSpl(){
        if (splUpdateID===""){
            alert("New supplier has just been created!")
        } else {
            alert("SupplierID " + splUpdateID + " has been updated!");
        }
    }
    function deleteSpl(){
        if (splDeleteID===""){
            alert("No suppliers in the current list with that ID!")
        } else {
            alert("SupplierID " + splDeleteID + " has been deleted!");
        }
    }
</script>
