<form method="post" style="margin-top: 2cm">{% csrf_token %}
    <table id="supplierForm">

        <col style="width: 10%">
        <col style="width: 10%">
        <col style="width: 10%">
        <col style="width: 10%">


        <div style="text-align: center">
            <formTitle>SUPPLIER UPDATE FORM</formTitle>
        </div>

        <thead>
            <tr>
                <th class="rowTitle">ID</th>
                <th class="rowTitle">SUPPLIER</th>
                <th class="rowTitle">PASSWORD</th>
                <th class="rowTitle">ACTION</th>
            </tr>
        </thead>

        <tbody>
            <tr style="height: 1.2cm">
                <td style="text-align-last: center"><input type="text" name="splID" class="form-control" required="" id="id_splID" placeholder="Set a new ID"></td>
                <td style="text-align-last: center"><input type="text" name="splName" class="form-control" required="" id="id_splName" placeholder="Supplier name"></td>
                <td style="text-align-last: center"><input type="text" name="splPassword" class="form-control" required="" id="id_splPassword" placeholder="Set password"></td>
                <td style="text-align-last: center">
                    <button type="submit" id="saveSupplier" name="saveSupplier" onclick="saveSpl()" class="btn btn-success">Save/Update</button>
                    <button type="submit" id="deleteSupplier" name="deleteSupplier" onclick="deleteSpl()" class="btn btn-danger">Delete</button>
                </td>
            </tr>

            <tr>
                <td colspan="4">{{ supplierForm.non_field_errors }}</td>
            </tr>
        </tbody>
    </table>

</form>