{% extends "body-mobile.html" %}

{% block bodyContent %}
<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Data Tables</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>


    <div class="table-responsive">
    	
        <table class="table table-striped table-bordered" id="shipment_table" style="width: 100% " >
        	<thead>
        		<tr>
		        	<tr role="row">
					<th role="columnheader">VESSEL</th>
					<th role="columnheader">DOC</th>
					<th role="columnheader">ODR</th>
					<th role="columnheader">SUPPLIER</th>
					<th role="columnheader">QTY</th>
					<th role="columnheader">SIZE</th>
					<th role="columnheader">WEIGHT</th>
					<th role="columnheader">IN</th>
					<th role="columnheader">REMARK</th>
				</tr>
			</thead>

			<tbody role="rowgroup">
				{% for info in Shipment %}
		        <tr>
		            <td class="cellBorder">{{info.vessel}}</td>
		            <td class="cellBorder">{{info.docs}}</td>
		            <td class="cellBorder">{{info.odr}}</td>
		            <td class="cellBorder">{{info.supplier}}</td>
		            <td class="cellBorder">{{info.quanty}}</td>
		            <td class="cellBorder">{{info.size}}</td>
		            <td class="cellBorder">{{info.weight}}</td>
		            <td class="cellBorder">{{info.in_date}}</td>
		            <td class="cellBorder">{{info.remark}}</td>
		 
		        </tr>
		        {% endfor %}
        </table>
    </div>
	     
<script language="javascript">
    $(document).ready( function () {
	    $('#shipment_table').DataTable({
	    
	    });
    } );
</script>

{% endblock bodyContent %}




	<!-- <thead role="rowgroup">
		<tr role="row">
			<th role="columnheader">VESSEL</th>
			<th role="columnheader">DOC</th>
			<th role="columnheader">ODR</th>
			<th role="columnheader">SUPPLIER</th>
			<th role="columnheader">QTY</th>
			<th role="columnheader">SIZE</th>
			<th role="columnheader">WEIGHT</th>
			<th role="columnheader">IN</th>
			<th role="columnheader">REMARK</th>
		</tr>
	</thead>

	<tbody role="rowgroup">
		{% for info in shipmentDisplay %}
        <tr>
            <td class="cellBorder">{{info.vessel}}</td>
            <td class="cellBorder">{{info.docs}}</td>
            <td class="cellBorder">{{info.odr}}</td>
            <td class="cellBorder">{{info.supplier}}</td>
            <td class="cellBorder">{{info.quanty}}</td>
            <td class="cellBorder">{{info.size}}</td>
            <td class="cellBorder">{{info.weight}}</td>
            <td class="cellBorder">{{info.in_date}}</td>
            <td class="cellBorder">{{info.remark}}</td>
 
    {#      <td>{{userChange}}</td>#}
        </tr>
        {% endfor %}

	</tbody> -->